<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse40333.rfreedy.rob_freedy_application" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/notredamelogo"
        android:label="@string/header_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme" >
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" ></activity>
        <activity android:name=".DetailActivity"></activity>
    </application>

</manifest>